<div>
    <div *ngIf="nfRegistryService.bucket">
        <button id="dropletActionMenu" [mdMenuTriggerFor]="dropletActionMenu"  md-raised-button color="fds-primary">
            Actions<i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <md-menu class="regular-button-menu" #dropletActionMenu="mdMenu" [overlapTrigger]="false">
            <button md-menu-item>
                <span>Option 1</span>
            </button>
            <button md-menu-item disabled>
                <span>Option 2</span>
            </button>
        </md-menu>
        <div class="list-header description">Name:</div>
        <md-list>
            <md-list-item [attr.focus]="((droplet.id === nfRegistryService.selectedDropletId) || (droplet.checked)) ? '' : null" *ngFor="let droplet of nfRegistryService.droplets" routerLink="/nifi-registry/explorer/list/{{nfRegistryService.registry.id}}/{{nfRegistryService.selectedBucketId}}/{{droplet.id}}">
                <span md-line> {{droplet.name}} </span>
                <md-checkbox class="nf-checkbox" [(ngModel)]="droplet.checked"></md-checkbox>
            </md-list-item>
        </md-list>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
