/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/* Buttons */

button {
    height: 34px;
    font-family: $fontPrimary;
    font-weight: normal !important;
    font-size: 14px;
    text-transform: uppercase;
    line-height: normal !important;
    border: 1px solid;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
}

.primary-button.mat-button.mat-primary {
    color: $buttonFontPrimaryColor;
    background-color: $buttonBgColorPrimary;
    border: 1px solid $buttonBgColorPrimary;
}

.primary-button.mat-button.mat-primary:hover {
    color: $buttonFontPrimaryColor;
    background-color: $buttonBgColorPrimaryHover;
}

.primary-button.mat-button.mat-primary:focus
.primary-button.mat-mini-fab.mat-primary:focus {
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.primary-button.mat-button.mat-primary[disabled] {
    color: $buttonFontPrimaryColorDisabled;
    background-color: $buttonBgColorPrimaryDisabled;
    opacity: .6;
}

.primary-button.mat-button.mat-primary[disabled]:hover {
    background-color: $buttonBorderColorSecondary;
    opacity: .6;
}

.secondary-button.mat-button.mat-accent {
    color: $buttonFontSecondaryColor;
    border: 1px solid $buttonBorderColorSecondary;
}

.secondary-button.mat-button.mat-accent:hover {
    color: $buttonFontSecondaryColorHover;
    background-color: $buttonBgColorSecondaryHover;
    border: 1px solid $buttonBorderColorSecondaryHover;
}

.secondary-button.mat-button.mat-accent:focus {
    color: $buttonFontSecondaryColorSelected;
    background-color: $buttonBgColorSecondarySelected;
    border: 1px solid $buttonBorderColorSecondarySelected;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.secondary-button.mat-button.mat-accent[disabled] {
    color: $buttonFontPrimaryColorDisabled;
    background-color: $buttonBgColorPrimaryDisabled;
    opacity: .6;
}

.secondary-button.mat-button.mat-accent[disabled]:hover {
    background-color: $buttonBorderColorSecondary;
    opacity: .6;
}

.regular-button.mat-button {
    color: $buttonFontRegularColor;
    background-color: $buttonBgColorRegular;
    border: 1px solid $buttonBorderColorRegular;
}

.regular-button.mat-button:hover {
    color: $buttonFontRegularColorHover;
    background-color: $buttonBgColorRegularHover;
    border: 1px solid $buttonBorderColorRegularHover;
}

.regular-button.mat-button:focus {
    color: $buttonFontRegularColorSelected;
    background-color: $buttonBgColorRegularSelected;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.regular-button.mat-button[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $buttonBgColorRegularDisabled;
    border: 1px solid $buttonBorderColorRegularDisabled;
    opacity: .6;
}

.warn-button.mat-button.mat-warn {
    color: $buttonFontPrimaryColor;
    background-color: $errorColor;
    border: 1px solid $errorColor;
}

.warn-button.mat-button.mat-warn:hover {
    color: $buttonFontRegularColorHover;
    background-color: $red2;
    border: 1px solid $errorColor;
}

.warn-button.mat-button.mat-warn:focus {
    background-color: $errorColor;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.warn-button.mat-button.mat-warn[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $errorColor;
    border: 1px solid $errorColor;
    opacity: .6;
}

.warn-button.mat-button.mat-warn[disabled]:hover {
    background-color: $errorColor;
    opacity: .6;
}

.critical-button.mat-button {
    color: $buttonFontPrimaryColor;
    background-color: $orange1;
    border: 1px solid $orange1;
}

.critical-button.mat-button:hover {
    color: $buttonFontRegularColorHover;
    background-color: $orange2;
    border: 1px solid $orange2;
}

.critical-button.mat-button:focus {
    background-color: $orange2;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.critical-button.mat-button[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $orange1;
    border: 1px solid $orange1;
    opacity: .6;
}

.primary-button.mat-raised-button.mat-primary {
    border: 1px solid $buttonBgColorPrimary;
}

.primary-button.mat-raised-button.mat-primary:hover {
    background-color: $buttonBgColorPrimaryHover;
}

.primary-button.mat-raised-button.mat-primary:focus {
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.primary-button.mat-raised-button.mat-primary[disabled] {
    color: $buttonFontPrimaryColorDisabled;
    background-color: $buttonBgColorPrimaryDisabled;
    opacity: .6;
}

.secondary-button.mat-raised-button.mat-accent {
    color: $buttonFontSecondaryColor;
    border: 1px solid $buttonBorderColorSecondary;
}

.secondary-button.mat-raised-button.mat-accent:hover {
    color: $buttonFontSecondaryColorHover;
    background-color: $buttonBgColorSecondaryHover;
    border: 1px solid $buttonBorderColorSecondaryHover;
}

.secondary-button.mat-raised-button.mat-accent:focus {
    color: $buttonFontSecondaryColorSelected;
    background-color: $buttonBgColorSecondarySelected;
    border: 1px solid $buttonBorderColorSecondarySelected;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.secondary-button.mat-raised-button.mat-accent[disabled] {
    color: $buttonFontPrimaryColorDisabled;
    background-color: $buttonBgColorPrimaryDisabled;
    opacity: .6;
}

.regular-button.mat-raised-button {
    color: $buttonFontRegularColor;
    background-color: $buttonBgColorRegular;
    border: 1px solid $buttonBorderColorRegular;
}

.regular-button.mat-raised-button:hover {
    color: $buttonFontRegularColorHover;
    background-color: $buttonBgColorRegularHover;
    border: 1px solid $buttonBorderColorRegularHover;
}

.regular-button.mat-raised-button:focus {
    color: $buttonFontRegularColorSelected;
    background-color: $buttonBgColorRegularSelected;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.regular-button.mat-raised-button[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $buttonBgColorRegularDisabled;
    border: 1px solid $buttonBorderColorRegularDisabled;
    opacity: .6;
}

.warn-button.mat-raised-button.mat-warn {
    border: 1px solid $errorColor;
}

.warn-button.mat-raised-button.mat-warn:hover {
    color: $buttonFontRegularColorHover;
    background-color: $red2;
    border: 1px solid $errorColor;
}

.warn-button.mat-raised-button.mat-warn:focus {
    background-color: $errorColor;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.warn-button.mat-raised-button.mat-warn[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $errorColor;
    border: 1px solid $errorColor;
    opacity: .6;
}

.critical-button.mat-raised-button {
    color: $buttonFontPrimaryColor;
    background-color: $orange1;
    border: 1px solid $orange1;
}

.critical-button.mat-raised-button:hover {
    color: $buttonFontRegularColorHover;
    background-color: $orange2;
    border: 1px solid $orange2;
}

.critical-button.mat-raised-button:focus {
    background-color: $orange2;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.critical-button.mat-raised-button[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $orange1;
    border: 1px solid $orange1;
    opacity: .6;
}

.primary-button.mat-raised-button {
    color: $buttonFontPrimaryColor;
    border: 1px solid $buttonBgColorPrimary;
    background-color: $buttonBgColorPrimary;
}

.primary-button.mat-raised-button:hover {
    color: $buttonFontPrimaryColorHover;
    background-color: $buttonBgColorPrimaryHover;
}

.primary-button.mat-raised-button:focus {
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.primary-button.mat-raised-button[disabled] {
    color: $buttonFontPrimaryColorDisabled !important;
    background-color: $buttonBgColorPrimaryDisabled !important;
    opacity: .6;
}

.secondary-button.mat-raised-button {
    color: $buttonFontSecondaryColor;
    border: 1px solid $buttonBorderColorSecondary;
}

.secondary-button.mat-raised-button:hover {
    color: $buttonFontSecondaryColorHover;
    background-color: $buttonBgColorSecondaryHover;
    border: 1px solid $buttonBorderColorSecondaryHover;
}

.secondary-button.mat-raised-button:focus {
    color: $buttonFontSecondaryColorSelected;
    background-color: $buttonBgColorSecondarySelected;
    border: 1px solid $buttonBorderColorSecondarySelected;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.secondary-button.mat-raised-button[disabled] {
    color: $buttonFontPrimaryColorDisabled !important;
    background-color: $buttonBgColorPrimaryDisabled !important;
    opacity: .6;
}

.warn-button.mat-raised-button {
    color: $buttonFontPrimaryColor;
    border: 1px solid $errorColor;
    background-color: $errorColor;
}

.warn-button.mat-raised-button:hover {
    color: $buttonFontRegularColorHover;
    background-color: $red2;
    border: 1px solid $errorColor;
}

.warn-button.mat-raised-button:focus {
    background-color: $errorColor;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.warn-button.mat-raised-button[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $errorColor;
    border: 1px solid $errorColor;
    opacity: .6;
}

.critical-button.mat-raised-button {
    color: $buttonFontPrimaryColor;
    background-color: $orange1;
    border: 1px solid $orange1;
}

.critical-button.mat-raised-button:hover {
    color: $buttonFontRegularColorHover;
    background-color: $orange2;
    border: 1px solid $orange2;
}

.critical-button.mat-raised-button:focus {
    background-color: $orange2;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.critical-button.mat-raised-button[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $orange1;
    border: 1px solid $orange1;
    opacity: .6;
}

.primary-button.mat-button {
    color: $buttonFontPrimaryColor;
    border: 1px solid $buttonBgColorPrimary;
    background-color: $buttonBgColorPrimary;
}

.primary-button.mat-button:hover {
    color: $buttonFontPrimaryColorHover;
    background-color: $buttonBgColorPrimaryHover;
}

.primary-button.mat-button:focus {
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.primary-button.mat-button[disabled] {
    color: $buttonFontPrimaryColorDisabled !important;
    background-color: $buttonBgColorPrimaryDisabled !important;
    opacity: .6;
}

.secondary-button.mat-button {
    color: $buttonFontSecondaryColor;
    border: 1px solid $buttonBorderColorSecondary;
}

.secondary-button.mat-button:hover {
    color: $buttonFontSecondaryColorHover;
    background-color: $buttonBgColorSecondaryHover;
    border: 1px solid $buttonBorderColorSecondaryHover;
}

.secondary-button.mat-button:focus {
    color: $buttonFontSecondaryColorSelected;
    background-color: $buttonBgColorSecondarySelected;
    border: 1px solid $buttonBorderColorSecondarySelected;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.secondary-button.mat-button[disabled] {
    color: $buttonFontPrimaryColorDisabled !important;
    background-color: $buttonBgColorPrimaryDisabled !important;
    opacity: .6;
}

.warn-button.mat-button {
    color: $buttonFontPrimaryColor;
    border: 1px solid $errorColor;
    background-color: $errorColor;
}

.warn-button.mat-button:hover {
    color: $buttonFontRegularColorHover;
    background-color: $red2;
    border: 1px solid $errorColor;
}

.warn-button.mat-button:focus {
    background-color: $errorColor;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.warn-button.mat-button[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $errorColor;
    border: 1px solid $errorColor;
    opacity: .6;
}

.critical-button.mat-button {
    color: $buttonFontPrimaryColor;
    background-color: $orange1;
    border: 1px solid $orange1;
}

.critical-button.mat-button:hover {
    color: $buttonFontRegularColorHover;
    background-color: $orange2;
    border: 1px solid $orange2;
}

.critical-button.mat-button:focus {
    background-color: $orange2;
    border: 1px solid $buttonBorderColorRegularSelected;
    opacity: 60%;
    box-shadow: 0px 0px 2px 0px rgba(19, 145, 193, 1);
}

.critical-button.mat-button[disabled][disabled] {
    color: $buttonFontRegularColorDisabled;
    background-color: $orange1;
    border: 1px solid $orange1;
    opacity: .6;
}

.nf-registry-button-container .done-button {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

