/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


/* Begin Global Variables *******************************************/


/* Heights
 *******************************/

$headerHeight: 40px;

/* Backgrounds
 *******************************/

$bgColorPrimary: #021B2C;
$bgColorSecondary: #e9eaed;
$bgColorLight: #fff;

/* Text
 *******************************/

$fontPrimary: "Roboto",
sans-serif;
$fontSecondary: "Robot Slab",
sans-serif;
$textBodyColor
: #666666;
$text2Color: #333333;
$textColor: #999999;

/* Borders
 *******************************/

$borderColorPrimary: #dcdedd;
$borderColorSecondary: #cccccc;
$borderWidthPrimary: 1px;
$roundedBorderRadius: 4px;
$roundedBorderRadiusSmall: 2px;

/* Links
 *******************************/

$linkColorPrimary: #3b5998;

/* Buttons
 *******************************/

$buttonDefaultBgColorTop: #fff;
$buttonDefaultBgColorBottom: #f7f7f9;
$buttonDefaultBorderColorTop: #d9d9d9;
$buttonDefaultBorderColorLeft: #cecece;
$buttonDefaultBorderColorRight: #cecece;
$buttonDefaultBorderColorBottom: #b7b7b9;
$buttonGroupBgColor: #fafbfb;
$buttonGroupBgColorHover: #fff;

/* Forms
*********************************/

$controlColorFocus: #999999;

/*End Global Variables *********************************************/

