/* Backgrounds
**************************/
.bgSecondary{
	background: $bgColorSecondary;
}

/* Text
**************************/
.textCenter{
	text-align: center;
}
.textSecondary{
	font-family: $fontSecondary;
}
.textColorSecondary{
	color: $textColorSecondary;
}
.textColorLight{
	color: $textColorLight;
}
.textColorDark{
	color: $textColorDark;
}

/* Borders
**************************/
.roundAll{
	-webkit-border-radius: $roundedBorderRadius;
	-moz-border-radius: $roundedBorderRadius;
	border-radius: $roundedBorderRadius;
}
.roundTop{
	-webkit-border-top-left-radius: $roundedBorderRadius;
	-webkit-border-top-right-radius: $roundedBorderRadius;
	-moz-border-radius-topleft: $roundedBorderRadius;
	-moz-border-radius-topright: $roundedBorderRadius;
	border-top-left-radius: $roundedBorderRadius;
	border-top-right-radius: $roundedBorderRadius;
}
.roundLeft{
	-webkit-border-top-left-radius: $roundedBorderRadius;
	-webkit-border-bottom-left-radius: $roundedBorderRadius;
	-moz-border-radius-topleft: $roundedBorderRadius;
	-moz-border-radius-bottomleft: $roundedBorderRadius;
	border-top-left-radius: $roundedBorderRadius;
	border-bottom-left-radius: $roundedBorderRadius;
}
.roundRight{
	-webkit-border-top-right-radius: $roundedBorderRadius;
	-webkit-border-bottom-right-radius: $roundedBorderRadius;
	-moz-border-radius-topright: $roundedBorderRadius;
	-moz-border-radius-bottomright: $roundedBorderRadius;
	border-top-right-radius: $roundedBorderRadius;
	border-bottom-right-radius: $roundedBorderRadius;
}
.roundBottom{
	-webkit-border-bottom-right-radius: $roundedBorderRadius;
	-webkit-border-bottom-left-radius: $roundedBorderRadius;
	-moz-border-radius-bottomright: $roundedBorderRadius;
	-moz-border-radius-bottomleft: $roundedBorderRadius;
	border-bottom-right-radius: $roundedBorderRadius;
	border-bottom-left-radius: $roundedBorderRadius;
}

.borderAll{
	border: $borderWidthPrimary solid $borderColorPrimary;
	border-bottom-color: $borderColorSecondary;
}
.borderLeft{
	border-left: $borderWidthPrimary solid $borderColorPrimary;
}
.borderRight{
	border-right: $borderWidthPrimary solid $borderColorPrimary;
}
.borderTop{
	border-top: $borderWidthPrimary solid $borderColorPrimary;
}
.borderBottom{
	border-bottom: $borderWidthPrimary solid $borderColorSecondary;
}

/* faux horizontal rules
**************************/
.hr{
	width: 100%;
	height: 1px;
	background: $borderColorPrimary;
	margin: 5px 0 10px 0;
}

/* Misc
**************************/
.pull-right{
	float: right;
}
.inner{
	margin: 0 40px;
}
.clear{
	width: 100%;
	clear: both;
}