<md-toolbar id="toolbar" class="mat-elevation-z5">
    <img id="nifi-registry-logo" src="nifi-registry/src/webapp/images/registry-logo-web-app.svg">
    <md-select class="pad-left-xl" name="registry" *ngIf="nfRegistryService.registry" [(ngModel)]="nfRegistryService.registry.id">
        <md-option *ngFor="let registry of nfRegistryService.registries" [value]="registry.id" routerLink="/nifi-registry/explorer/{{nfRegistryService.explorerViewType}}/{{registry.id}}">
            {{registry.name}}
        </md-option>
    </md-select>
    <div fxFlex="1 1 auto">
        <a class="link" *ngIf="nfRegistryService.selectedBucketId" routerLink="/nifi-registry/explorer/{{nfRegistryService.explorerViewType}}/{{nfRegistryService.registry.id}}/{{nfRegistryService.selectedBucketId}}"> / {{nfRegistryService.bucket.name}}</a>

        <span class="link" *ngIf="!nfRegistryService.selectedBucketId"> / All Buckets</span>

        <a class="link" *ngIf="nfRegistryService.selectedDropletId" routerLink="/nifi-registry/explorer/{{nfRegistryService.explorerViewType}}/{{nfRegistryService.registry.id}}/{{nfRegistryService.selectedBucketId}}/{{nfRegistryService.selectedDropletId}}"> / {{nfRegistryService.droplet.name}}</a>

        <span class="link" *ngIf="nfRegistryService.selectedBucketId && !nfRegistryService.selectedDropletId"> / All Droplets</span>

    </div>
    <div id="nifi-registry-alerts-count" *ngIf="nfRegistryService.alerts.length > 0">
        {{nfRegistryService.alerts.length}}
    </div>
    <button mdTooltip="Alerts" md-icon-button>
        <i class="fa fa-bell" aria-hidden="true"></i>
    </button>
    <button mdTooltip="Menu" md-icon-button>
        <i class="fa fa-user " aria-hidden="true"></i>
    </button>
</md-toolbar>
<div id="nf-registry-viewer">
    <router-outlet></router-outlet>
</div>
