<div id="nf-registry-bucket-manager-users-and-groups-viewer">
    <div *ngIf="nfRegistryService.bucket">
        <div class="list-header description">User/Group Name</div>
        <md-list>
            <md-list-item [attr.focus]="((user.id === nfRegistryService.selectedUserId) || (user.checked)) ? '' : null" *ngFor="let user of nfRegistryService.bucket.users" routerLink="/nifi-registry/manage/{{nfRegistryService.registry.id}}/{{nfRegistryService.bucket.id}}/{{user.id}}">

                <span md-line class="description"><i *ngIf="user.type === 'group'" class="fa fa-users" aria-hidden="true"></i>{{user.name}}</span>
                <button mdTooltip="User Details" md-icon-button>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </button>
                <md-checkbox class="nf-checkbox" [(ngModel)]="user.checked"></md-checkbox>
            </md-list-item>
        </md-list>
    </div>
</div>
<div id="nf-registry-bucket-manager-users-and-groups-details-viewer">
    <router-outlet></router-outlet>
</div>
<div class="nf-registry-button-container">
    <button class="primary-button done-button" md-button routerLink="/nifi-registry/explorer/{{nfRegistryService.registry.id}}/{{nfRegistryService.bucket.id}}">Done</button>
</div>
