<div *ngIf="(nfRegistryService.selectedRegistryId && nfRegistryService.selectedBucketId && !nfRegistryService.selectedUserId)">
Please select a user to manage.
</div>
<!-- <nf-registry-bucket-user-manager *ngIf="(nfRegistryService.selectedRegistryId && nfRegistryService.selectedBucketId && nfRegistryService.selectedUserId && (nfRegistryService.user.type === 'user'))">
</nf-registry-bucket-user-manager>
<nf-registry-bucket-group-manager *ngIf="(nfRegistryService.selectedRegistryId && nfRegistryService.selectedBucketId && nfRegistryService.selectedUserId && (nfRegistryService.user.type === 'group'))"></nf-registry-bucket-group-manager> -->
