<div id="nf-registry-users-and-groups-left-container">
    <div class="header">Users</div>
    <div class="description">
        Lorem ipsum dolor sit amet, wisi leo elit penatibus porttitor, nunc hendrerit, non habitant enim ridiculus. In bibendum et nibh venenatis laoreet. Dignissim lectus mollis, leo donec ac erat sollicitudin, lobortis suscipit, sed amet duis. Sed occaecati nec iaculis curabitur mi. Proin facilisis fermentum ante eget, scelerisque doloremque tortor neque urna vel, sed arcu mollis accumsan sem nullam porttitor, rhoncus lorem sed hymenaeos pellentesque magna. Consequat erat pede mi sagittis, eleifend lorem pharetra at nonummy ipsum fusce, commodo quis nec sed, in mus ipsum ut, vulputate vulputate mus pellentesque. Rhoncus integer maecenas ac vitae, etiam ut vitae eu purus lectus sodales, sed mi, sed at, arcu in dui. Faucibus lacinia vivamus iaculis, ut tincidunt porta quam mollis. Pede ridiculus odio nec wisi id. Quis nam felis in sit, dapibus vestibulum consectetuer sit sed mauris, lectus tempus, eu tincidunt dignissim ut quis urna donec
    </div>
    <div id="nf-registry-users-and-groups-viewer">
        <div *ngIf="nfRegistryService.registry">
            <div class="list-header description">Authorized Users ({{nfRegistryService.getUserCount()}})</div>
            <md-list>
                <md-list-item [attr.focus]="((user.id === nfRegistryService.selectedUserId) || (user.checked)) ? '' : null" *ngFor="let user of nfRegistryService.bucket.users">
                    <span md-line class="description">{{user.name}}</span>
                    <button mdTooltip="User Details" md-icon-button>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                    <md-checkbox class="nf-checkbox" [(ngModel)]="user.checked"></md-checkbox>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
<div id="nf-registry-users-and-groups-right-container">
    <div class="header">Groups</div>
    <div class="description">
        <button class="primary-button" md-raised-button color="primary">Primary</button>
        <button md-raised-button class="secondary-button" color="accent">Secondary</button>
        <button md-raised-button class="regular-button">regular</button>
        <button md-raised-button class="warn-button" color="warn">warn</button>
        <button md-raised-button class="critical-button">critical</button>
        <button md-raised-button class="primary-button" disabled color="primary">disabled primary</button>
        <button md-raised-button class="secondary-button" disabled color="accent">disabled Secondary</button>
        <button md-raised-button class="regular-button" disabled>disabled regular</button>
        <button md-raised-button class="warn-button" disabled color="warn">disabled warn</button>
        <button md-raised-button class="critical-button" disabled>disabled critical</button>
        <button class="primary-button mat-elevation-z0" md-raised-button routerLink="/nifi-registry/explorer/{{nfRegistryService.registry.id}}">Primary</button>
        <button md-raised-button class="secondary-button">Secondary</button>
        <button md-raised-button class="regular-button">regular</button>
        <button md-raised-button class="warn-button">warn</button>
        <button md-raised-button class="critical-button">critical</button>
        <button md-raised-button class="primary-button" disabled>disabled primary</button>
        <button md-raised-button class="secondary-button" disabled>disabled Secondary</button>
        <button md-raised-button class="regular-button" disabled>disabled regular</button>
        <button md-raised-button class="warn-button" disabled>disabled warn</button>
        <button md-raised-button class="critical-button" disabled>disabled critical</button>
        <button class="primary-button" md-button routerLink="/nifi-registry/explorer/{{nfRegistryService.registry.id}}" color="primary">Done</button>
        <button md-button class="secondary-button" color="accent">Secondary</button>
        <button md-button class="regular-button">regular</button>
        <button md-button class="warn-button" color="warn">warn</button>
        <button md-button class="critical-button">critical</button>
        <button md-button class="primary-button" disabled color="primary">disabled primary</button>
        <button md-button class="secondary-button" disabled color="accent">disabled Secondary</button>
        <button md-button class="regular-button" disabled>disabled regular</button>
        <button md-button class="warn-button" disabled color="warn">disabled warn</button>
        <button md-button class="critical-button" disabled>disabled critical</button>
        <button class="primary-button" md-button routerLink="/nifi-registry/explorer/{{nfRegistryService.registry.id}}">Done</button>
        <button md-button class="secondary-button">Secondary</button>
        <button md-button class="regular-button">regular</button>
        <button md-button class="warn-button">warn</button>
        <button md-button class="critical-button">critical</button>
        <button md-button class="primary-button" disabled>disabled primary</button>
        <button md-button class="secondary-button" disabled>disabled Secondary</button>
        <button md-button class="regular-button" disabled>disabled regular</button>
        <button md-button class="warn-button" disabled>disabled warn</button>
        <button md-button class="critical-button" disabled>disabled critical</button>
    </div>
</div>
<div class="nf-registry-button-container">
    <button class="primary-button done-button" md-button routerLink="/nifi-registry/explorer/{{nfRegistryService.registry.id}}" color="primary">Done</button>
</div>
