<button md-raised-button color="fds-primary">
    Primary</button>
<button md-raised-button color="fds-secondary">Secondary</button>
<button md-raised-button color="fds-regular">regular</button>
<button md-raised-button color="fds-warn">warn</button>
<button md-raised-button color="fds-critical">critical</button>
<button md-raised-button disabled color="fds-primary">disabled primary</button>
<button md-raised-button disabled color="fds-secondary">disabled Secondary</button>
<button md-raised-button disabled color="fds-regular">disabled regular</button>
<button md-raised-button disabled color="fds-warn">disabled warn</button>
<button md-raised-button disabled color="fds-critical">disabled critical</button>
