/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/


/* Inputs */

body[fds] input.mat-input-element {
    border-radius: 2px;
    color: $grey2;
    padding: 0px 10px;
    border: 1px solid $grey8;
    height: 34px;
}

body[fds] input.mat-input-element:focus {
    color: $grey3;
    border-color: $blue8;
}

body[fds] .mat-input-underline {
    display: none;
}

body[fds] .mat-input-placeholder.mat-empty {
    font-size: 14px;
    color: $grey3;
}



// body[fds] .mat-focused .mat-input-placeholder.mat-float, .mat-input-placeholder.mat-float:not(.mat-empty) {
//     transform: translateY(-35px) scale(.75);
// }

// body[fds] .mat-input-container.mat-focused {
//     color: $grey3;
//     border-color: $blue8;
// }

/* placeholder styles */

*::placeholder {
    color: $grey3;
}
*::-webkit-input-placeholder {
    color: $grey3;
}
*:-moz-placeholder {
    color: $grey3;
}
*::-moz-placeholder {
    color: $grey3;
}
*:-ms-input-placeholder {
    color: $grey3;
}
